parameters:
	scanDirectories:
		- src
includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-dibi/extension.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon